html, body{
  max-width: 100%;
  overflow-x: hidden;
}

.maintitle{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: monospace, "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

.nine h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}
.nine h1 span {
  margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    height: 5px;
  background-color:#ffffff;
  color: forestgreen;
}

.main{
    width: 60%;
    background-color:cornsilk;
    border-radius: 10rem;
}

.cd{
    border: 0.1px solid black;
    box-shadow: 0 0 10px rgba(8, 7, 16, 0.1);
    transition: box-shadow 0.3s ease-in;
    margin: 1rem;
}


body{
    background-color:cornsilk;
}

.btn{
    border-radius: 15px;
    width: 40%;
}

.heading{
    font-size: 52px;
}

.subhead{
    font-size: 16px;
}

.btn
{
  background-color:forestgreen;
  color: #ffffff;
}

.foot{
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  margin: 1rem;
  font-size: 20px;
}

.cdlog{
  border: 1px solid forestgreen;
}

.card-title{
  color: darkred;
}